.auto-style3 {
    max-width: 100%;
}

#formBox {
  border-radius: 15px;
  padding: 20px;
  width: 125%;
  position: relative;
  background-color: white;
}

#title {
	font-size: 20px;
	font-weight: bolder;
	text-align: center;
}

.error {
	font-size: 12px;
	color: red;
}

.success {
	font-size: 12px;
	color: green;
}
.fields {
	width: 90%;
	border-radius: 10px;
	padding: 12px 20px;
	margin: 8px 0;
	font-size: 16px;
	resize: none;
}

#fact {
	width: 90%;
	border-radius: 10px;
	padding: 12px 20px;
	margin: 8px 0;
	font-size: 16px;
	resize: none;
}

#submitButton {
	color: white;
	border-radius: 20px;
	background-color: #ff6c81;
	padding: 10px 25px;
  	text-align: center;
  	font-size: 16px;
  	position: absolute;
  	right: 10px;
  	bottom: 10px;
}