#formBox {
  border-radius: 5px;
  padding: 20px;
  border: solid black 2px;
  width: 15%;
  position: relative;
}

#title {
	font-size: 20px;
	font-weight: bolder;
	text-align: center;
}

.fields {
	min-width: 80%;
	border-radius: 10px;
	padding: 12px 20px;
	margin: 8px 0;
	font-size: 16px;
}

#fact {
	min-width: 80%;
	border-radius: 10px;
	padding: 12px 20px;
	margin: 8px 0;
	font-size: 16px;
	margin-bottom: 25%;
}

#submitButton {
	border-radius: 10px;
	background-color: #FF8C00;
	padding: 10px 16px;
  	text-align: center;
  	font-size: 16px;
  	position: absolute;
  	right: 10px;
  	bottom: 10px;
}